.surah {
	display: grid;
	place-items: center;
	margin: 15px;
	h1 {
		font-size: 3em;
	}
	.ayah {
		// @font-face {
		// 	font-family: "Othmani";
		// 	src: url("./font/Othmani.ttf");
		// }
		// font-family: "Othmani";
		margin: 15px;
		line-height: 2em;
		font-size: 2em;
		text-align: center;
	}
}
