.player {
	min-height: 10vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.play-control {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 1rem;

	width: 40%;
	i {
		padding: 15px;
		cursor: pointer;
	}
	.fa-play,
	.fa-pause {
		border-radius: 50%;
		background-color: #d3e0ea;
	}
}

@media screen and (max-width: 768px) {
	.volume-control {
		width: 90%;
	}
	.play-control {
		width: 80%;
	}
}
